/* @import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Grenze+Gotisch:wght@200;300;400;500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bellefair&family=Josefin+Slab:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Josefin Slab", serif;
  color: #827717;
  font-weight: 300;
  background-image: repeating-linear-gradient(205deg,
      rgba(102, 216, 250, 0.08) 0px,
      rgba(102, 216, 250, 0.08) 35px,
      transparent 35px,
      transparent 70px),
    repeating-linear-gradient(295deg,
      rgba(102, 216, 250, 0.08) 0px,
      rgba(102, 216, 250, 0.08) 35px,
      transparent 35px,
      transparent 70px),
    linear-gradient(295deg, rgb(255, 255, 255), rgb(255, 255, 255));
  /* background: #fcfbf0; */
}

h1,
h3 {
  color: #03a9f4;
}

h2,
h6 {
  color: #29b6f6;
}

h4 {
  color: #62cdff;
}

h5 {
  color: #fff9c4;
  font-weight: bold;
}

.Hunt h1 {
  position: fixed;
  top: 11px;
  font-size: 40px;
  padding-right: 10px;
  border-radius: 50%;
  border-right: 50px solid #00b8d4;
  letter-spacing: 2px;
}


.hunt-link {
  color: #9575cd;

}

.hunt-link:hover {
  font-size: 40px;
  color: #00b8d4;
  font-weight: 600;
  text-decoration: none;
}

.Hunt h4 {
  color: #a78dd6;
  position: fixed;
  top: 59px;
  font-family: "Architects Daughter", cursive;
  padding-left: 4px;
  font-size: 20px;
  letter-spacing: 1px;

}

.navbar {
  height: 95px;
  border-bottom: 5px solid #38a1be;
  /* background-image: repeating-linear-gradient(
      112.5deg,
      rgba(255, 252, 220, 0.13) 0px,
      rgba(255, 252, 220, 0.13) 0px,
      transparent 0px,
      transparent 1px,
      rgba(255, 252, 220, 0.13) 1px,
      rgba(255, 252, 220, 0.13) 4px,
      transparent 4px,
      transparent 5px,
      rgba(255, 252, 220, 0.13) 5px,
      rgba(255, 252, 220, 0.13) 8px
    ),
    repeating-linear-gradient(
      360deg,
      rgba(255, 252, 220, 0.13) 0px,
      rgba(255, 252, 220, 0.13) 0px,
      transparent 0px,
      transparent 1px,
      rgba(255, 252, 220, 0.13) 1px,
      rgba(255, 252, 220, 0.13) 4px,
      transparent 4px,
      transparent 5px,
      rgba(255, 252, 220, 0.13) 5px,
      rgba(255, 252, 220, 0.13) 8px
    ),
    linear-gradient(495deg, rgb(255, 250, 224), rgb(214, 228, 110)); */
  /* background: #fffcdcd0; */
  /* background-image: repeating-linear-gradient(
      80deg,
      rgb(253, 255, 230) 0px,
      rgb(253, 255, 230) 10px,
      transparent 10px,
      transparent 12px
    ),
    repeating-linear-gradient(
      228deg,
      rgb(253, 255, 230) 0px,
      rgb(253, 255, 230) 10px,
      transparent 10px,
      transparent 12px
    ),
    repeating-linear-gradient(
      127deg,
      rgb(253, 255, 230) 0px,
      rgb(253, 255, 230) 10px,
      transparent 10px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(147, 255, 255), rgb(110, 196, 240)); */
  background-image: repeating-linear-gradient(146deg,
      hsla(194, 94%, 69%, 0.14) 0px,
      hsla(194, 94%, 69%, 0.14) 55px,
      transparent 55px,
      transparent 110px),
    repeating-linear-gradient(236deg,
      hsla(194, 94%, 69%, 0.14) 0px,
      hsla(194, 94%, 69%, 0.14) 55px,
      transparent 55px,
      transparent 110px),
    linear-gradient(236deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.Nav-sign-in {
  /* color: #004d40;
  text-decoration: none !important; */
  padding: 12px 22px;
  font-family: "Bellefair", serif;
  letter-spacing: 1.5px;
  /* border: 1px solid #00b0ff;
  border-radius: 3px;
  background: #e6ee9c; */
  position: fixed;
  top: 18px;
  right: 36px;
}

.Nav-sign-in:hover {
  transition: all ease 500ms;
  border-radius: 3px;
  border: 1px solid #00b0ff;
  font-size: larger;
  /* background-color: #f0f4c3; */
  /* color: #827717; */
  /* cursor: pointer; */
}

.jobTitle {
  width: 42%;
}

.jumbotron {
  /* background: #fffcdc; */
  background-image: repeating-linear-gradient(0deg,
      hsla(194, 94%, 69%, 0.14) 0px,
      hsla(194, 94%, 69%, 0.14) 55px,
      transparent 55px,
      transparent 110px),
    repeating-linear-gradient(90deg,
      hsla(194, 94%, 69%, 0.14) 0px,
      hsla(194, 94%, 69%, 0.14) 55px,
      transparent 55px,
      transparent 110px),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  /* background-image: repeating-linear-gradient(
      80deg,
      rgb(230, 238, 156) 0px,
      rgb(230, 238, 156) 10px,
      transparent 10px,
      transparent 12px
    ),
    repeating-linear-gradient(
      228deg,
      rgb(230, 238, 156) 0px,
      rgb(230, 238, 156) 10px,
      transparent 10px,
      transparent 12px
    ),
    repeating-linear-gradient(
      127deg,
      rgb(230, 238, 156) 0px,
      rgb(230, 238, 156) 10px,
      transparent 10px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(37, 220, 220), rgb(14, 136, 199)); */

  /* background-image: repeating-linear-gradient(
      112.5deg,
      rgba(255, 252, 220, 0.13) 0px,
      rgba(255, 252, 220, 0.13) 0px,
      transparent 0px,
      transparent 1px,
      rgba(255, 252, 220, 0.13) 1px,
      rgba(255, 252, 220, 0.13) 4px,
      transparent 4px,
      transparent 5px,
      rgba(255, 252, 220, 0.13) 5px,
      rgba(255, 252, 220, 0.13) 8px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 252, 220, 0.13) 0px,
      rgba(255, 252, 220, 0.13) 0px,
      transparent 0px,
      transparent 1px,
      rgba(255, 252, 220, 0.13) 1px,
      rgba(255, 252, 220, 0.13) 4px,
      transparent 4px,
      transparent 5px,
      rgba(255, 252, 220, 0.13) 5px,
      rgba(255, 252, 220, 0.13) 8px
    ),
    linear-gradient(135deg, rgb(255, 250, 224), rgb(214, 228, 110)); */
  min-height: 48.9vh;
  margin-top: 36px;
}

.jumbotron p {
  color: #b388ff;
  font-weight: bold;
}

.jumbo-link {
  color: #b388ff;
  font-weight: bold;
}

.strip-one {
  text-align: center;
  /* background-image: repeating-linear-gradient(
      112.5deg,
      rgba(255, 252, 220, 0.13) 0px,
      rgba(255, 252, 220, 0.13) 0px,
      transparent 0px,
      transparent 1px,
      rgba(255, 252, 220, 0.13) 1px,
      rgba(255, 252, 220, 0.13) 4px,
      transparent 4px,
      transparent 5px,
      rgba(255, 252, 220, 0.13) 5px,
      rgba(255, 252, 220, 0.13) 8px
    ),
    repeating-linear-gradient(
      218deg,
      rgba(255, 252, 220, 0.13) 0px,
      rgba(255, 252, 220, 0.13) 0px,
      transparent 0px,
      transparent 1px,
      rgba(255, 252, 220, 0.13) 1px,
      rgba(255, 252, 220, 0.13) 4px,
      transparent 4px,
      transparent 5px,
      rgba(255, 252, 220, 0.13) 5px,
      rgba(255, 252, 220, 0.13) 8px
    ),
    linear-gradient(353deg, rgb(255, 250, 224), rgb(214, 228, 110)); */
  /* border-top: #03a8f434 1px solid; */
  /* background-color: #e6ee9c; */
  /* padding-bottom: 15px; */
  background-image: repeating-linear-gradient(205deg,
      rgba(102, 216, 250, 0.08) 0px,
      rgba(102, 216, 250, 0.08) 35px,
      transparent 35px,
      transparent 70px),
    repeating-linear-gradient(295deg,
      rgba(102, 216, 250, 0.08) 0px,
      rgba(102, 216, 250, 0.08) 35px,
      transparent 35px,
      transparent 70px),
    linear-gradient(295deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.strip-one p {
  font-size: 1.6rem;
  padding: 3.46vh;
  color: #827717;
}

.home-container {
  background: #fff9c4;
  text-align: center;
  width: 90%;
}

.home-container p {
  color: #827717;
}

.Jobdeck {
  border-bottom: 1px solid aqua;
}

.card {
  background-color: #ebfafa;
}

.link {
  background-color: #fff;
  text-decoration: none !important;
}

.card-link {
  /* border: 1px solid rgb(192, 255, 252); */
  padding: 10px;
}

.card-link:hover {
  color: green !important;
}

footer {
  /* height: 3rem; */
  text-align: center;
  bottom: 0;
  /* position: fixed; */
  width: 100%;
  background: #9e9d24;
  /* border-bottom: #03a9f4 5px solid; */
}

footer p {
  color: #fff;
  margin: auto;
  padding: 10px 0;
}

.links {
  text-decoration: none !important;
  color: white;
}

.links:hover {
  color: #ffdeb3;
}

.list {
  list-style-type: none;
}

.top-page-heading {
  letter-spacing: 1.8px;
  word-spacing: 2px;
}

.page-heading {
  background-color: #def7ff;
  letter-spacing: 1.8px;
  word-spacing: 2px;

}

.page-div-content {
  line-height: 2rem;
  font-size: larger;
  word-spacing: 2px;
  letter-spacing: 1.8px;
}

.card-login {
  margin: auto;
  padding: 20px 0;
  text-align: center;
  max-width: 400px;
  background-color: rgba(0, 255, 255, 0.15);
  border-radius: 10px;
}

.card-login h6 {
  color: grey;
}

.signUp {
  color: #29b6f6;
  font-weight: bold;
}

.signUp:hover {
  color: green;
  text-decoration: none;
}

.loginButton {
  width: 100%;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.login {
  color: #74dfff;
  text-decoration: none !important;
  padding: 8px 16px;
  font-family: "Architects Daughter", cursive;
  letter-spacing: 1.5px;
  border: 1px solid #00ffff98;
  border-radius: 3px;
}

.login:hover {
  border: none;
}

.login:hover span {
  transition: all ease 500ms;
  padding: 8px 24px;
  color: #0e1b2e;
  background-color: #e2fdff;
  border-radius: 3px;
}

.modalHeader h4 {
  color: #fff;
  font-weight: bold;
}

.container {
  padding: 10px 0;
  text-align: center;
}

.container-size {
  margin-top: 50px;
  padding: 10px 0;
  text-align: center;
  width: 60%;
  margin: 100px auto auto auto;
  border-bottom: 20px outset #83edfb9d;
}

form {
  padding: 20px 0;
  position: relative;
  text-align: center;
  max-width: 550px;
  border-radius: 20px;
  margin: 0 auto;
  vertical-align: middle;
}