@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Grenze+Gotisch:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bellefair&family=Josefin+Slab:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Josefin Slab", serif;
  color: blue;
  font-weight: 300;
  background: #fff9c4;
}

h1,
h3 {
  color: #03a9f4;
}

h2,
h6 {
  color: #29b6f6;
}

h4 {
  color: #62cdff;
}

h5 {
  color: #fff9c4;
  font-weight: bold;
}

.Hunt h1 {
  color: #9575cd;
  position: fixed;
  top: 15px;
  font-size: 46px;
  padding-right: 10px;
  border-radius: 50%;
  border-right: 50px solid #9575cd;
}

.Hunt h1:hover {
  font-size: 42px;
  color: #00b8d4;
  border-color: #00b8d4;
}

.Hunt h4 {
  color: #a78dd6;
  position: fixed;
  top: 67px;
  font-family: "Architects Daughter", cursive;
  padding-left: 4px;
  font-size: 22px;
}

.navbar {
  font-family: "Bellefair", serif;
  font-weight: 600;
  height: 80px;
  letter-spacing: 1.5px;
  background: #fff9c4d0;
}

.Nav-sign-in {
  color: #004d40;
  text-decoration: none !important;
  padding: 16px 30px;
  font-family: "Architects Daughter", cursive;
  letter-spacing: 1.5px;
  /* border: 1px solid #00b0ff; */
  border-radius: 3px;
  background: #e6ee9c;
  position: fixed;
  top: 28px;
  right: 36px;
}

.Nav-sign-in:hover {
  transition: all ease 500ms;
  padding: 16px 32px;
  border-radius: 3px;
  border: 1px solid #80cbc4;
  font-size: larger;
  background-color: #f0f4c3;
  color: #827717;
  cursor: pointer;
}

.jobTitle {
  width: 42%;
}

.jumbotron {
  background: #f0f4c3;
  min-height: 53vh;
  margin-top: 36px;
}

.jumbotron p {
  color: #b388ff;
  font-weight: bold;
}

.strip-one {
  text-align: center;
  font-size: 5rem;
  background-color: #e6ee9c;
  padding-bottom: 22px;
}

.strip-one p {
  font-size: 2rem;
  padding: 30px;
  color: #827717;
}

.home-container {
  background: #fff9c4;
  text-align: center;
  width: 90%;
}

.home-container p {
  color: #827717;
}

.card {
  background-color: #e6fffe;
}

footer {
  height: 3rem;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  background: #9e9d24;
}

footer p {
  color: #fff;
  margin: auto;
  padding: 10px 0;
}

.nav-link {
  color: #0e1b2e;
  background-color: #c0ca33;
}

.nav-btn {
  width: 120px;
  text-align: center;
}

.navBar .nav-link:hover {
  color: #0e1b2e;
  background-color: #95f6ff;
  border-radius: 3px;
  padding-top: 6px;
  transition: all ease 500ms;
}

.card-login {
  margin: auto;
  padding: 20px 0;
  text-align: center;
  max-width: 400px;
  background-color: rgba(0, 255, 255, 0.15);
}

.signUp {
  color: grey;
  font-weight: bold;
}

.signUp:hover {
  color: green;
  text-decoration: none;
}

.loginButton {
  width: 100%;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

header {
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.login {
  color: #74dfff;
  text-decoration: none !important;
  padding: 8px 16px;
  font-family: "Architects Daughter", cursive;
  letter-spacing: 1.5px;
  border: 1px solid #00ffff98;
  border-radius: 3px;
}

.login:hover {
  border: none;
}

.login:hover span {
  transition: all ease 500ms;
  padding: 8px 24px;
  color: #0e1b2e;
  background-color: #e2fdff;
  border-radius: 3px;
}

.card-footer:hover {
  color: #9cdaf7;
}

.Modal {
  margin-top: 100px;
}

.modalHeader h4 {
  color: #fff;
  font-weight: bold;
}

.container {
  padding: 10px 0;
  text-align: center;
}

.container-size {
  margin-top: 50px;
  padding: 10px 0;
  text-align: center;
  width: 60%;
  margin: 100px auto auto auto;
  border-bottom: 20px outset #83edfb9d;
}

form {
  padding: 20px 0;
  position: relative;
  text-align: center;
  max-width: 550px;
  border-radius: 20px;
  margin: 0 auto;
  vertical-align: middle;
}
